{% extends "template.html" %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col">

      <h1>Make a prediction for the iris dataset</h1>
      <hr>

      <form action="/predict" method="POST">

        <div class="form-group">
          <label>Sepal width</label>
          <input type="text" class="form-control" id="sepal_width" name="sepal_width" placeholder="0">
        </div>

        <div class="form-group">
          <label>Sepal length</label>
          <input type="text" class="form-control" id="sepal_length" name="sepal_length" placeholder="0">
        </div>

        <div class="form-group">
          <label>Petal width</label>
          <input type="text" class="form-control" id="petal_width" name="petal_width" placeholder="0">
        </div>

        <div class="form-group">
          <label>Petal length</label>
          <input type="text" class="form-control" id="petal_length" name="petal_length" placeholder="0">
        </div>

        <button type="submit" class="btn btn-primary">Make a prediction</button>


        {% if prediction %}
        <p class="text-danger float-right">{{ prediction }}</p>
        {% endif %}

      </form>

    </div>
  </div>
</div>

{% endblock %}